// misc
$tablet-view: 768px;

@mixin tablet {
    @media only screen and (min-width: $tablet-view) {
        @content;
    }
}

// Colours
$black: #323232;
$white: #FFFFFF;
$grey: #FAFAFA;

// font face


@font-face {
    font-family: 'avenir';
    src: url('../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf');
}

//Font Size

.heading-2 {
    padding: 40px 0 30px;
    margin: 0;
    font-size: 3rem;

    @include tablet {
        font-size: 2.25rem;
    }
}

body {
    color: $black;
    font-family: 'avenir', 'roboto', sans-serif;
}