.about {

    @include tablet {
        padding: 0 1.6rem;
    }

    @include desktop {
        padding: 0 9rem;
    }

    &__image {
        display: block;
        padding-bottom: 1.5rem;
        margin: 0 auto;
        max-width: 100%;

        @include tablet {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }

        @include desktop {
            width: 90%;
        }
    }

    &__quote {
        font-size: 2rem;

        @include desktop {
            padding: 2.5rem 0;
            text-align: left;
        }

        &-author {
            font-size: 1.5rem;
            margin: 32px 0 40px;

            @include tablet {
                font-size: 1.25rem;
            }
        }
    }

    &__title {
        font-size: 2rem;

        @include desktop {
            padding: 2.5rem 0;
        }
    }

    &__text {

        @include tablet {
            display: flex;
            justify-content: space-between;
        }

        &--item {
            padding-bottom: 42px;
            margin: 0;

            @include tablet {
                padding-left: 2rem;
                font-size: 1.3rem;
            }

            @include desktop {
                padding-left: 3rem;
            }

            &:first-child {
                @include tablet {
                    padding-left: 0;
                }
            }
        }
    }

    &__quote,
    &__quote-author,
    &__title,
    &__text {

        @include desktop {
            width: 91%;
            margin: 0 auto;

        }
    }

}