.navbar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 5rem;
    background: $black;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    &--list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 1rem 0;
        list-style: none;

    }

    &--logo {
        padding-top: 0.5rem;
        margin: 0 auto;

        @include tablet {
            padding: 0 0 0 1.5rem;
            margin: 0;
        }
    }

    &--item {
        padding-bottom: 0.7rem;
        color: $white;
        text-decoration: none;

        @include tablet {
            margin-left: 5rem;
        }
    }

    &--active {
        border-bottom: 3px solid white;
    }
}